
.cor_transparent {
  color: transparent;
}

.cor_cafe-perfeito {
  color: #FF6600;
}

.cor_red {
  color: #F44336;
}

.cor_pink {
  color: #E91E63;
}

.cor_purple {
  color: #9C27B0;
}

.cor_deep-purple {
  color: #673AB7;
}

.cor_indigo {
  color: #3F51B5;
}

.cor_blue {
  color: #2196F3;
}

.cor_light-blue {
  color: #03A9F4;
}

.cor_cyan {
  color: #00BCD4;
}

.cor_teal {
  color: #009688;
}

.cor_green {
  color: #4CAF50;
}

.cor_light-green {
  color: #8BC34A;
}

.cor_lime {
  color: #CDDC39;
}

.cor_yellow {
  color: #ffe821;
}

.cor_amber {
  color: #FFC107;
}

.cor_orange {
  color: #FF9800;
}

.cor_deep-orange {
  color: #FF5722;
}

.cor_brown {
  color: #795548;
}

.cor_grey {
  color: #9E9E9E;
}

.cor_blue-grey {
  color: #607D8B;
}

.cor_black {
  color: #000000;
}

.cor_white {
  color: #ffffff;
}

.cor_whiteblack {
  color: #e9e9e9;
}

